.detail {
    border: 1px solid #696666;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(246, 252, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 800px;
    max-height: 150px;
    font-size: 12px;
  }